:root {
    --th-i-i-m-c-p-nh-p-font-family: "Inter", Helvetica;
    --th-i-i-m-c-p-nh-p-font-weight: 400;
    --th-i-i-m-c-p-nh-p-font-size: 12px;
    --th-i-i-m-c-p-nh-p-letter-spacing: 0px;
    --th-i-i-m-c-p-nh-p-line-height: normal;
    --th-i-i-m-c-p-nh-p-font-style: normal;
  }
  